aiodns
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-doc
annotated-types
anyio
asttokens
attrs
backoff
bcrypt
beautifulsoup4
blinker
brotlicffi
build
cachetools
certifi
cffi
charset-normalizer
chromadb
click
colorama
coloredlogs
comm
dataclasses-json
debugpy
decorator
distro
durationpy
executing
fastapi
filelock
flatbuffers
frozenlist
fsspec
gitdb
GitPython
google-auth
googleapis-common-protos
greenlet
grpcio
h11
hf-xet
httpcore
httptools
httpx
httpx-sse
huggingface_hub
humanfriendly
idna
importlib_metadata
importlib_resources
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kubernetes
langchain
langchain-classic
langchain-community
langchain-core
langchain-ollama
langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
mkl_fft
mkl_random
mkl-service
mmh3
mpmath
multidict
mypy_extensions
narwhals
nest-asyncio
numpy
oauthlib
ollama
onnxruntime
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
overrides
packaging
pandas
parso
pillow
pip
posthog
prompt_toolkit
propcache
protobuf
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
pybase64
pycares
pycparser
pydantic
pydantic_core
pydantic-settings
pydeck
Pygments
PyPika
pyproject_hooks
pyreadline3
PySocks
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
referencing
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
setuptools
shellingham
six
smmap
sniffio
soupsieve
SQLAlchemy
sqlmodel
stack-data
starlette
streamlit
sympy
tenacity
tokenizers
toml
tornado
tqdm
traitlets
typer
typer-slim
typing_extensions
typing-inspect
typing-inspection
tzdata
urllib3
uuid_utils
uvicorn
watchdog
watchfiles
wcwidth
websocket-client
websockets
wheel
win_inet_pton
yarl
zipp
zstandard
